<?xml version="1.0" encoding="UTF-8"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/          http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
  <responseDate>2002-06-01T19:20:30Z</responseDate>
  #parse("oai/common/Request.vm")
  <GetRecord>
    <record>
      <header#if($Record.isDeleted()) status="deleted"#end>
        <identifier>${GetRecord.identifier}</identifier>
        <datestamp>${GetRecord.date}</datestamp>
#foreach($set in $GetRecord.sets)
        <setSpec>$set</setSpec>
#end
      </header>
#if(!$GetRecord.isDeleted())
#if(${GetRecord.metadata})
      <metadata>
      ${GetRecord.metadata}
      </metadata>
#end
#end
    </record>
   </GetRecord>
</OAI-PMH>
