<?xml version="1.0" encoding="UTF-8"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/          http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
<responseDate>$!{ResponseDate}</responseDate>
  #parse("oai/common/Request.vm")
  <ListIdentifiers>
#foreach($record in $ListRecords)
    <header#if($record.isDeleted()) status="deleted"#end>
      <identifier>${record.identifier}</identifier>
      <datestamp>${record.date}</datestamp>
#foreach($set in $record.sets)
      <setSpec>$set</setSpec>
#end
    </header>
#end
#if($ResumptionToken)
    <resumptionToken>${ResumptionToken}</resumptionToken>
#end
  </ListIdentifiers>
</OAI-PMH>
