<?xml version="1.0" encoding="UTF-8"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
         http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
 <responseDate>2002-08-11T07:21:33Z</responseDate>
 #parse("oai/common/Request.vm")
 <ListSets>
	<set>
	    <setSpec>driver</setSpec>
	    <setName>DRIVER</setName>
	    <setDescription><![CDATA[ DRIVER Set ]]></setDescription>
	   </set>


#foreach($set in $ListSets)

  
  <set>
    <setSpec>$!{set.setSpec}</setSpec>
    <setName>$!{set.setName}</setName>
    <setDescription><![CDATA[ $!{set.setDescription} ]]></setDescription>
   </set>
#end
#if($ListRecords.resumptionToken)
   <resumptionToken>$ListRecords.resumptionToken</resumptionToken>
#end
 </ListSets>
</OAI-PMH>