<?xml version="1.0" encoding="UTF-8"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
<responseDate>$!{ResponseDate}</responseDate>
  <!-- Showing $!{ListRecords.size()} records. -->
  #parse("oai/common/Request.vm")
  <ListRecords>
#foreach($record in $ListRecords)
    <record>
      <header#if($record.isDeleted()) status="deleted"#end>
        <identifier>$!{record.identifier}</identifier>
        <datestamp>$!{record.date}</datestamp>
#foreach($set in $record.sets)
        <setSpec>$set</setSpec>
#end
      </header>
#if(!$record.isDeleted())
#if(${record.metadata})
      ${record.metadata}
#end
#end
    </record>
#end
#if($ResumptionToken)
   <resumptionToken>${ResumptionToken}</resumptionToken>
#end
  </ListRecords>
</OAI-PMH>
