
body {
	font-family: Verdana, Arial, Sans-serif;
	font-size: 11px;
	margin-left: 20px;
	
}

#title {	
	margin-bottom: 30px;
	margin-top: 20px;
}

#title span {
	font-size: 14px;
	margin-right: 40px;
}

#buttons {
	clear: both;
	width: 100%;
	margin-top:30px;
	margin-bottom:10px;
}


#networks {	
	border-top: 4px solid #e3e7e7;
	width: 600px;
}

#networks p {
		clear: both;
		width: 100%;
		margin: 0;
}

#networks span {
		float: left;
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		border-left: 1px solid #e3e7e7;
		border-bottom: 1px solid #e3e7e7;
		height: 20px;
}

#networks .network_name {
	width: 100px;
	font-weight:bold;
}

#networks .column {
	width: 80px;
}


/*********  Origins ***********/

#network_origins {
	border-top: 4px solid #e3e7e7;
	width: 650px;
	height: 150px;
	
}

#network_origins p {
		clear: both;
		width: 100%;
		margin: 0;
}

#network_origins span {
		float: left;
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		border-left: 1px solid #e3e7e7;
		border-bottom: 1px solid #e3e7e7;
		height: 20px;
}

#network_origins .column {
	width: 150px;
}

#network_origins .column_button {
	width: 70px;
}

#network_origins .column_uri {
	width: 300px;
}

/*********  Snapshots ***********/

#snapshots {
	border-top: 4px solid #e3e7e7;
	width: 750px;
	height: 200px;
	
	font-size: 11px;
}

#snapshots p {
		clear: both;
		width: 100%;
		margin: 0;
}

#snapshots span {
		float: left;
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		border-left: 1px solid #e3e7e7;
		border-bottom: 1px solid #e3e7e7;
		height: 20px;
}

#snapshots .column {
	width: 40px;
}

#snapshots .column_wide {
	width: 200px;
}

#snapshots .column_number {
	width: 60px;
}

#snapshots .column_date {
	width: 100px;
}
