<div ng-controller="transformer">

	<div class="row">
		<div class="col-md-12">
			<h4>Editando transformador: {{transformer_model.name}}</h4>
			<p>Aquí puede agregar y editar las reglas de transformación de metadatos.</p>
			<form name="transformerForm" sf-schema="transformer_schema" sf-form="transformer_form" sf-model="transformer_model" ng-submit="on_transformer_submit(transformerForm)"></form>
			
		</div>
	</div>
	
	<div class="row" ng-if="!is_transformer_new" >
		<div class="col-xs-12">
	 		<div class="btn-group pull-right" uib-dropdown>
				
					<button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle>
				    	Agregar una nueva regla
				    	<span class="glyphicon glyphicon-plus">
				       
				    </button>
				    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
				        <li ng-repeat="ruleDefinition in ruleDefinitionByClassName" role="menuitem"><a ng-click="addTransformationRule(ruleDefinition)" href="">{{ruleDefinition.name}}</a></li>   
				    </ul>
			</div>
		</div>
	</div>
	
	<div ng-if="!is_transformer_new" class="row" >
		<div class="col-md-6">
	
			<div class="row">
				<div class="col-xs-12">
					<table ng-table="transformerRulesTable"
						class="table table-bordered table-striped table-condensed">
						<tr ng-repeat="vrule in $data | orderBy:'+runorder'">
							<td data-title="'Orden'" sortable="'runorder'">{{vrule.runorder}}</td>
							<td data-title="'Nombre'" sortable="'name'">{{vrule.name}}</td>
							<td data-title="'Descripción'">{{vrule.description}}</td>
							<td>
								<button class="btn btn-primary btn-sm"
									ng-click="editTransformerRule(vrule)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-danger  btn-sm" ng-click="deleteTransformerRule(vrule)">
									<span class="glyphicon glyphicon-trash"></span>	
								</button> 
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-if="is_rule_visible">
		    <h3 ng-if="is_rule_new" style="color:green;">NUEVA!</h3>
		    <h4 ng-if="rule_definition!=null"> Regla: {{rule_definition.name}}</h4>
			<form name="ruleDataForm" sf-schema="rule_data_schema" sf-form="rule_data_form" sf-model="rule_data_model" ng-submit="on_rule_submit(ruleDataForm,ruleEditForm)"></form>
			<form name="ruleEditForm" sf-schema="rule_schema" sf-form="rule_form" sf-model="rule_model" ng-submit="on_rule_submit(ruleDataForm,ruleEditForm)"></form>
			<div ng-if="is_rule_saved" class="alert alert-success" role="alert">Los datos han sido grabados con éxito</div>
			<div ng-if="rule_save_error" class="alert alert-danger" role="alert">No se han podido guardar los datos - {{rule_save_error_message}}</div>
		</div>
	
	</div>
</div>

