
<div class="row">

	<div class="col-md-12">
		<h4>Listado de repositorios disponibles</h4>
		<p>Puede ejecutar acciones sobre un grupo de repositorios seleccionados utilizando los checkbox de la tabla. </p>
		<p>Los datos se actualizan automáticamente cada 5 segundos. </p>
		

		<div class="row">	

			<div class="col-md-2">
				
				<a ui-sref="network.new" class="btn btn-sm btn-primary pull-left"><span class="glyphicon glyphicon-plus"></span> Nuevo repositorio</a>
			
				<div class="btn-group pull-left" uib-dropdown>
					<button type="button" class="btn btn-sm btn-success" uib-dropdown-toggle>
						Acciones <span class="caret"></span>
					</button>
					<ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
						<li role="menuitem"><a href="" ng-click="executeNetworkAction('START_HARVESTING', currentSelectedNetworkList(), networksTableRefreshCallback)">Cosechar</a></li>
						<li role="menuitem"><a href="" ng-click="executeNetworkAction('STOP_HARVESTING', currentSelectedNetworkList(), networksTableRefreshCallback)">Detener cosecha </a></li>
						
						<li role="menuitem"><a href="" ng-click="executeNetworkAction('ADD_VUFIND_INDEX', network.networkID, networksTableRefreshCallback)">Indexar Vufind</a></li>
						<li role="menuitem"><a href="" ng-click="executeNetworkAction('ADD_XOAI_INDEX', network.networkID, networksTableRefreshCallback)">Indexar XOAI</a></li>
						<li class="divider"></li>
						<li role="menuitem"><a href="" ng-confirm-click="Esta accción eliminará los metadatos e información de diagnóstico de todos los snapshots excepto el último válido. Se conservará los datos básicos de snapshots antiguos válidos." ng-click="executeNetworkAction('CLEAN_NETWORK', currentSelectedNetworkList(), networksTableRefreshCallback)">Limpiar snapshots antiguos</a></li>
						<li role="menuitem"><a href="" ng-confirm-click="Esta accción eliminará los metadatos indexados en Vufind."  ng-click="executeNetworkAction('DELETE_VUFIND_INDEX', network.networkID, networksTableRefreshCallback)">Retirar de Vufind</a></li>
						<li role="menuitem"><a href="" ng-confirm-click="Esta accción eliminará los metadatos indexados en XOAI OAI-PMH Provider"  ng-click="executeNetworkAction('DELETE_XOAI_INDEX', network.networkID, networksTableRefreshCallback)">Retirar de XOAI</a></li>
					</ul>
				</div>
			
			</div>
			<div class="col-md-8">
				<div class="alert alert-success" ng-if="actionExecuted">
				  <strong>Acción ejecutada:</strong> {{actionIdentifier}}.
				</div>
			</div>
			<div class="col-md-2">	
				<timer style="display:none;" interval="1000"></timer>
				<button class="btn btn-sm btn-primary pull-right" ng-click="startTimer('poll-server')" ng-if="!timerRunning">Actualizar automáticamente</button>
		        <button class="btn btn-sm btn-primary pull-right" ng-click="stopTimer('poll-server')" ng-if="timerRunning"><span class="glyphicon glyphicon-ban-circle"></span> Apagar actualización</button>
				<a ng-click="networksTableRefreshCallback()" class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-refresh"></span> Actualizar</a>
			</div>
		</div>

	
	</div>

</div>
<!-- End Row cabecera -->
<div class="row">
	<p></p>
</div>
<div class="row">
	<div class="col-xs-12">
		<table ng-table="networksTable" class="table table-bordered table-striped table-condensed">
			<tr ng-repeat="network in $data track by network.acronym">
				<td width="30" style="text-align: left" header="'modules/app/checkbox-tpl.html'"><input type="checkbox" ng-model="networks.selected[network.networkID]" /></td>
				<td style="width: 40px;" data-title="'Acrónimo'" filter="{acronym: 'text'}" sortable="'acronym'">{{network.acronym}}</td>
				<td style="width: 150px;" data-title="'Repositorio'" filter="{name: 'text'}" sortable="'name'">{{network.name}}</td>
				<td style="width: 300px;" data-title="'Institución'" filter="{institution: 'text'}" sortable="'institutionName'">{{network.institution}}</td>
				<td data-title="'Última cosecha'">
					<h5>{{network.lstSnapshotStatus | Status }}</h5>
					<div class="small">{{network.lstSize}} | V: {{network.lstValidSize}} | T: {{network.lstTransformedSize}}</div>
					<div class="small">
						<i class="fa fa-clock-o"> </i> <span class="c-white">{{network.lstSnapshotDate}}</span>
					</div>
					<div class="small">
							<i class="fa fa-history" aria-hidden="true"></i> <span class="c-white"><button class="btn btn-xs btn-info" ng-click="openHistory(network.networkID)">Historial</button></span>
					</div>
				</td>
				<td data-title="'Última cosecha exitosa'">
					<div ng-if="network.lgkSnapshotID != null">
						<h5>ÚLTIMA COSECHA VÁLIDA</h5>
						<div class="small">{{network.lgkSize}} | V: {{network.lgkValidSize}} | T: {{network.lgkTransformedSize}}</div>
						<div class="small">
							<i class="fa fa-clock-o"> </i> <span class="c-white">{{network.lgkSnapshotDate}}</span>
						</div>
						<div class="small">
							<i class="fa fa-ambulance" aria-hidden="true"></i> <span class="c-white"><button class="btn btn-xs btn-info" ui-sref="diagnose({ snapshotID: network.lgkSnapshotID })">Diagnóstico</button></span>
						</div>
					</div>
					<div ng-if="network.lgkSnapshotID == null" class="alert alert-danger" role="alert" style="height: 100%;">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No existe cosecha válida
					</div>

				</td>

				<td>
					<p>
					<div class="btn-group" uib-dropdown>
						<button type="button" class="btn btn-sm btn-success" uib-dropdown-toggle>
							Acciones <span class="caret"></span>
						</button>
						<ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
							<li role="menuitem"><a href="" ng-click="executeNetworkAction('START_HARVESTING', network.networkID, networksTableRefreshCallback)">Cosechar</a></li>
							<li role="menuitem"><a href="" ng-click="executeNetworkAction('STOP_HARVESTING', network.networkID, networksTableRefreshCallback)">Detener cosecha </a></li>
							<li class="divider"></li>
							<li role="menuitem"><a href="" ng-confirm-click="Esta accción eliminará los metadatos e información de diagnóstico de todos los snapshots excepto el último válido. Se conservará los datos básicos de snapshots antiguos válidos." ng-click="executeNetworkAction('CLEAN_NETWORK', network.networkID, networksTableRefreshCallback)">Limpiar snapshots antiguos</a></li>
							<li role="menuitem"><a href="" ng-click="executeNetworkAction('ADD_VUFIND_INDEX', network.networkID, networksTableRefreshCallback)">Indexar Vufind</a></li>
							<li role="menuitem"><a href="" ng-click="executeNetworkAction('ADD_XOAI_INDEX', network.networkID, networksTableRefreshCallback)">Indexar XOAI</a></li>
							<li class="divider"></li>
							<li role="menuitem"><a href="" ng-confirm-click="Esta accción eliminará los metadatos indexados en Vufind."  ng-click="executeNetworkAction('DELETE_VUFIND_INDEX', network.networkID, networksTableRefreshCallback)">Retirar de Vufind</a></li>
							<li role="menuitem"><a href="" ng-confirm-click="Esta accción eliminará los metadatos indexados en XOAI OAI-PMH Provider"  ng-click="executeNetworkAction('DELETE_XOAI_INDEX', network.networkID, networksTableRefreshCallback)">Retirar de XOAI</a></li>
							<li class="divider"></li>
							<li role="menuitem"><a href="" ng-confirm-click="Esta accción borrará la red y todos sus datos sin posibilidad de recuperación."  ng-click="executeNetworkAction('DELETE_NETWORK', network.networkID, networksTableRefreshCallback)">Borrar Red (!!)</a></li>
						</ul>
					</div>
					</p>
					<p>
						<button class="btn btn-primary btn-sm" ui-sref="network.edit({ id: network.networkID })">
							<span class="glyphicon glyphicon-pencil"></span> Editar
						</button>
						
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
