<link href="modules/diagnose/diagnose.css" rel="stylesheet">

<div ng-controller="diagnose">

  <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                      	<li>
                            <a><i class="fa fa-university fa-fw"></i> Instituciones <span class="fa arrow"></span></a>
                            <ul id="institution_name_facet" class="nav nav-second-level" ng-repeat="facet in facets.institution_name"> 
                            		<li><a ng-click="toogleFacetFilter(facet)">{{facet.value}} ({{facet.valueCount}})<b ng-if="is_facet_selected(facet)"> - </b><b ng-if="!is_facet_selected(facet)"> + </b></li>
                             </ul>  
                            <!-- /.nav-second-level -->
                        </li>
                       
                        <li>
                            <a><i class="fa fa-sitemap fa-fw"></i> Subredes <span class="fa arrow"></span></a>
                            <ul id="repository_name_facet" class="nav nav-second-level" ng-repeat="facet in facets.repository_name">
                            		<li><a ng-click="toogleFacetFilter(facet)">{{facet.value}} ({{facet.valueCount}})<b ng-if="is_facet_selected(facet)"> - </b><b ng-if="!is_facet_selected(facet)"> + </b></li>
                      		</ul>   
                            <!-- /.nav-second-level -->
                        </li>
                        
                        <li>
                            <a><i class="fa fa-check-square-o fa-fw"></i> Validez de registros <span class="fa arrow"></span></a>
                            <ul id="record_is_valid_facet" class="nav nav-second-level" ng-repeat="facet in facets.record_is_valid">
                            		<li><a ng-click="toogleFacetFilter(facet)">{{facet.value == "true" ? 'Válidos' : 'Inválidos'}} ({{facet.valueCount}})<b ng-if="is_facet_selected(facet)"> - </b><b ng-if="!is_facet_selected(facet)"> + </b></li>
                            </ul>  
                            <!-- /.nav-second-level -->
                        </li>
                       
                        <li>
                            <a><i class="fa fa-check fa-fw"></i> Reglas Válidas  <span class="fa arrow"></span></a>
                            <ul id="valid_rules_facet" class="nav nav-second-level" ng-repeat="facet in facets.valid_rules">
                            		<li><a ng-click="toogleFacetFilter(facet)">{{ruleNameByID[facet.value]}} ({{facet.valueCount}})<b ng-if="is_facet_selected(facet)"> - </b><b ng-if="!is_facet_selected(facet)"> + </b></li>
                            </ul>  
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a><i class="fa fa-times fa-fw"></i> Reglas Inválidas <span class="fa arrow"></span></a>
                            <ul id="invalid_rules_facet" class="nav nav-second-level" ng-repeat="facet in facets.invalid_rules">  
                            		<li><a ng-click="toogleFacetFilter(facet)">{{ruleNameByID[facet.value]}} ({{facet.valueCount}})<b ng-if="is_facet_selected(facet)"> - </b><b ng-if="!is_facet_selected(facet)"> + </b></li>
                            </ul>  
                            <!-- /.nav-second-level -->
                        </li>
                        
                         
                      
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
            <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <!--h1 class="page-header">Dashboard</h1-->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-files-o fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="medium" id="totalRegs">{{recordsSize}}</div>
                                    <div>R. Totales</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                       <div class="medium" id="validRegs">{{validSize}}</div>
                                    <div>R. Válidos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cogs fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="medium" id="transformedRegs">{{transformedSize}}</div>
                                    <div>R. Transf.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-times  fa-2x"></i>
                                </div>
                                
                                 <div class="col-xs-9 text-right">
                                    <div class="medium" id="invalidRegs">{{recordsSize - validSize}}</div>
                                    <div>Reg. Inválidos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                  
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Nivel de cumplimiento de reglas
                            <div class="pull-right">
								<div class="btn-group">
									<a class="btn btn-xs" title="Exportar reglas" ng-click='csvRules.generate()' ng-href="{{csvRules.link()}}" download="reglas.csv"> 
										<i class="glyphicon glyphicon-new-window"></i> &#160;Exportar CSV
									</a>
								</div>
							</div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                   <table ng-table="rulesTable" class="table table-bordered table-striped table-condensed" export-csv="csvRules" separator=";">
										<tr ng-repeat="rule in $data">
											<td  data-title="'Nombre'" sortable="'name'">{{rule.name}}</td>
											<td  data-title="'Descripción'">{{rule.description}}</td>
											<td  data-title="'Mandatoria'" sortable="'mandatory'">{{rule.mandatory | siNo }}</td>
											<td style="width: 40px;" data-title="'% Cumplimiento'" sortable="'validCount'">{{(rule.validCount / recordsSize)*100 | number:2 }}%</td>
											<td style="width: 40px;" data-title="'#R. Válidos'" sortable="'validCount'">{{rule.validCount}}</td>
											<td>
												<button class="btn btn-primary btn-xs" ng-click="openRuleOccrStats(snapshotID, rule)">
													Detalles
												</button>			
											</td>
										</tr>
									</table>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Detalle de registros 
                            <div class="pull-right">
                               	<div class="btn-group">
									<a class="btn btn-xs" title="Exportar registros" ng-click='csvRegisters.generate()' ng-href="{{csvRegisters.link()}}" download="registros.csv"> 
										<i class="glyphicon glyphicon-new-window"></i> &#160;Exportar CSV
									</a>
								</div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                    
                                   	<table ng-table="recordsTable" class="table table-bordered table-striped table-condensed" export-csv="csvRegisters" separator=";">
										<tr ng-repeat="record in $data">
											<td  data-title="'ID'" >{{record.id}}</td>											
											<td  data-title="'Identifier'">
												<a target="_blank" href="{{record.origin}}?verb=GetRecord&metadataPrefix=oai_dc&identifier={{record.identifier}}">{{record.identifier}}</a>
											</td>
											<td  data-title="'Estado'">
												<button type="button" class="btn btn-xs btn-{{record.isValid | successOrDanger}}">{{record.isValid | isValid}}</button>
												<button ng-if="isTransformed" type="button" class="btn btn-xs btn-warning">{{record.isTrasformed | isTransformed}}</button>
												
											</td>
											<td>
												<button type="button" class="btn btn-xs btn-primary" ng-click="openRecordDiagnose(record)">
													Detalles
												</button>			
											</td>
											
											
										</tr>
									</table>
                                       
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                              
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-8 -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

</div>
