<div class="modal-header">
	<h3 class="modal-title">Detalles de validación: {{record.identifier}}</h3>
</div>
<div class="modal-body">
	
	
	
	
	<div class="row">
		<div class="col-xs-12">
			<h3><span class="label label-{{ record.isValid | successOrDanger }}">registro {{record.isValid ? 'válido' : 'inválido' }} </span></h3>
		
	
		<!-- TABSET -->
 		<uib-tabset active="activeJustified" justified="true">
 		
    	<uib-tab index="0" heading="Validación">
			<div ng-repeat="ruleID in record.validRulesID">
				<div class="alert alert-success">
					<b>{{rules[ruleID]}}</b>
					
					<div ng-repeat="occr in record.validOccurrencesByRuleID[ruleID] track by $index">
						<p><span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>{{occr}}</p>
					</div>
					<div ng-repeat="occr in record.invalidOccurrencesByRuleID[ruleID] track by $index">
						<p><span style="margin-right:5px;" class="glyphicon glyphicon-remove"></span>{{occr}}</p>
					</div>
					
				</div>
			</div>
			<div ng-repeat="ruleID in record.invalidRulesID">
				<div class="alert alert-danger">
					<b>{{rules[ruleID]}}</b>
					
					<div ng-repeat="occr in record.validOccurrencesByRuleID[ruleID] track by $index">
						<p><span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>{{occr}}</p>
					</div>
					<div ng-repeat="occr in record.invalidOccurrencesByRuleID[ruleID] track by $index">
						<p><span style="margin-right:5px;" class="glyphicon glyphicon-remove"></span>{{occr}}</p>
					</div>
					
				</div>
			</div>
				
		</uib-tab>


    	<uib-tab index="1" heading="XML del registro transformado">
    	
    		<pre  class="code" lang="html">{{recordMetadata}}</pre>
    	</uib-tab>
	
		</uib-tabset>
			
		
		
		
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
</div>
